body {
  background-image: url("https://wallpaperlayer.com/img/2015/9/downtown-los-angeles-wallpaper-7185-7467-hd-wallpapers.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #D2D3D5;
}

#map {
 position: relative;
 height: 400px;
 width: 50%;
 margin: auto;
 border-radius: 5px;
}

form {
  text-align: center;
}

#search {
  width: 200px;
  padding: 7px;
  border: 1px solid #333;
}

.js-submit {
  padding: 20px;
}
#submit {
  padding: 7px;
  background: #607d8b;
  border: 1px solid #607d8b;
  color: white;
  cursor: pointer;
}

#submit:hover {
  background: #333;
  transition: all 0.40s;
}

.weatherInfo {
  margin: auto;
  width: 20%;
  padding: 30px;
  border-style: solid;
  border width: 5px;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 20px;
}

section > h1 {
  margin: auto;
  color: white;
  border: solid black 2px;
  border-radius: 4px;
  background-color: #48A7EA;
  text-align: center;
  font-size: 40px;
}

section > h2 {
  text-align: center;
  padding: 0 10px;
  margin: auto;
  color: white;
  width: 20%;
  border: solid black 2px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
  background-color: #48A7EA;
}
