#map {
 height: 500px;
 width: 100%;
}

#weather {
  height: 25px;
  width: 25%;
  background-color: red;
}

#search {
  width: 200px;
  padding: 7px;
  border: 1px solid #333;
}

#submit {
  padding: 7px;
  background: #607d8b;
  border: 1px solid #607d8b;
  color: white;
  cursor: pointer;
}

#submit:hover {
  background: #333;
  transition: all 0.40s;
}

.forecast {
  /*display: hidden;*/
}

section > h2 {
  padding: 20px;
  width: 100%;
  color: white;
  background-color: #48A7EA;
  text-align: center;
}
